<h1>Drawings list</h1>

<hr>

<div class="list-group">
  <a class="list-group-item f20px" ng-repeat="todo in todos" ng-click="edit(todo)">
    {{todo.content}}&nbsp;{{todo.id}}
    <i class="glyphicon glyphicon-remove pull-right lh0"
        ng-click="removeTodo($event,todo)"></i></a>
</div>

<h3 ng-if="todos.length==0"><em>no drawings yet..</em></h3>

<!-- floating action-->
<button type="button" class="btn btn-primary btn-circle btn-lg btn-float-material" ng-click="addTodo()">
  <i class="glyphicon glyphicon-plus"></i>
</button>
