<h1>Drawings list</h1>

<hr>

<div class="list-group">
  <a class="list-group-item f20px" ng-repeat="draw in draws" ng-click="edit(draw)">
    {{draw.id}}
    <i class="glyphicon glyphicon-remove pull-right lh0"
        ng-click="remove($event,draw)"></i></a>
</div>

<h3 ng-if="draws.length==0"><em>no drawings yet..</em></h3>

<!-- floating action-->
<button type="button" class="btn btn-primary btn-circle btn-lg btn-float-material" ng-click="add()">
  <i class="glyphicon glyphicon-plus"></i>
</button>
