<div class="modal-header ng-scope">
    <h3 class="modal-title" id="modal-title">Drawing Saved!</h3>
</div>
<div class="modal-body ng-scope" id="modal-body">
  <div class="input-group">
    <input type="text" id="sharedLink" ng-model="shareLink" class="form-control" readonly>

    <span class="input-group-btn">
      <button class="btn" ngclipboard data-clipboard-target="#sharedLink" data-toggle="tooltip" data-placement="top" title="Copy to clipboard" tooltip>
          <i class="glyphicon glyphicon-copy"></i>
      </button>
    </span>
  </div>
</div>
<div class="modal-footer ng-scope">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
